# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [10]:
number = 6

print(number)

6

##### Assinging float

In [11]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [12]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [22]:
result_diff = num2 - num1
print(result_diff)




result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [24]:
result_mul = num1 * num2
print(result_mul)


result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [29]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [34]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [37]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

In [39]:
square = 5 ** 2
print (square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [51]:
name = "Benjamin"
print(name)

Benjamin

##### print() <br>
<p>Don't forget about end=' '</p>

In [56]:
print("This is my first name: ", name)

print("Full name:", name, end=" De La Rosa")

This is my first name:  Benjamin
Full name: Benjamin De La Rosa

##### String Concatenation

In [59]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)


full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [ ]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 1)

##### input()

In [13]:
# Input will always returned?

name = input('What is your name? ')
print('Nice to meet you, ' + name)

age = input("What is you age?: ")
print("You look good for " + age)

What is your name? Ben
Nice to meet you, Ben
What is you age?: 31
You look good for 31

# format()

In [ ]:
age = input('What is your age? ')

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 31
You are 31 Ben and you are getting wiser!

##### Old Way (python 2)

In [ ]:
result_string2 = "You are %s and you look great for your %age"
print(result_string2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
make = input("What is the make of your car? " )
print(make)
model = input("What model is your car? ")
print(model)

year = input("What year is your car? ")
print(year)
color = input("What color is your car? ")
print(color)

result_together = "The {} {} {} {} is a great choice for a car!!!!".format(year, color, make, model)

print(result_together)

What is the make of your car? Audi
Audi
What model is your car? Q5
Q5
What year is your car? 2018
2018
What color is your car? Blue
Blue
The 2018 Blue Audi Q5 is a great choice for a car!!!!

### If Statements

In [31]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 3
num2 = 2
num3 = 4

# if num1 == num2:
#    print('Equal values')
# else:
#     print("Not equal")

if num2 < num1 and num3 > 0:
    print("This ran")
else:
    print("You are here")

This ran

##### 'is' keyword

In [33]:
# The 'is' keyword is for checking for the same object, but not the same value. 

num3 = "55"

if num3 is 55: 
    print("This is the exact number")

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/cd/v170msx56kd7c9km1r39pzsr0000gn/T/ipykernel_1576/4272554567.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [35]:
# This will check if a characther is a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The Ring owner")

The Ring owner

##### 'not in' keyword'

In [37]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:


variable = input("Chelo es marica? ")


if 'p' in variable:
    print('Yo sabía que eras pato.')
else:
    print('Quizas no era tan pato na')

## Using 'and'/'or' with If Statements

In [2]:


num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#if with 'and' statements 
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
else:
    print('False')
    
#if with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [9]:
first_name = input("What is you name? ")

if first_name == 'Smith':
    print("Tha name is Smith.")
    
elif first_name == 'Brandon':
    print('Name is Brandon')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is you name? Ben
The name is NOT Max

### Else Statements

In [14]:
# see above

### For Loops

In [13]:
# syntax
# for counter in condition 

name = "Benjamin De La Rosa"

for ANYTHING_YOU_WANT in name:
    print(ANYTHING_YOU_WANT)

B
e
n
j
a
m
i
n

D
e

L
a

R
o
s
a

##### Using 'in' keyword

In [15]:
# see above

##### Continue Statement

In [16]:
# will continue to next iteration

In [28]:
name = "Benjamin De La Rosa"


for i in name:
    if i == 'a':
        continue
    print(i)

B
e
n
j
m
i
n

D
e

L

R
o
s

##### Break Statement

In [17]:
# will break out of current loop

In [29]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [18]:
# mostly used as a placeholder, and will continue on same iteration

In [31]:
for i in name:
    pass

##### Double For Loops

In [34]:
for i in range (1):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4

### While Loops

In [ ]:
# syntax: 
#while keyword, condition statement 

# INFINITE LOOP 
# num = 0 

# while num < 10:
#     print (num)




# num = 0 

# while num < 10:
#     print (num)
#     num += 1

##### Looping 'While True'

In [7]:
game_over = True

while game_over:
    print("Infinite loop")
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite loop
Would you like to stop? no
Infinite loop
Would you like to stop? no
Infinite loop
Would you like to stop? nno
Infinite loop
Would you like to stop? no
Infinite loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [39]:
num = 0

while num < 5:
    print("\n While loop interation: " + str(num))
    
    for i in range(2):
        print("For loop interation: ", str(i + 1))
        
    num += 1

 While loop interation: 0
For loop interation:  1
For loop interation:  2

 While loop interation: 1
For loop interation:  1
For loop interation:  2

 While loop interation: 2
For loop interation:  1
For loop interation:  2

 While loop interation: 3
For loop interation:  1
For loop interation:  2

 While loop interation: 4
For loop interation:  1
For loop interation:  2

### Built-In Functions

##### range()

In [42]:
# range (start, stop, step)

for i in range(2, 20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [46]:
# will check the length of the variable

name = input("Give me the name of your favorite car: ")

length = len(name)
print(length)

Give me the name of your favorite car: Harry Potter
12

##### help()

In [53]:
# Using this function to view more info about Python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [65]:
#check a variable to find out what object family (or date type) it belongs to
#isinstance (var, type)

num = 4.5

if isinstance(num, int):
    print(f" {num} is an int")
else: 
    print(f"{num} is a float")

4.5 is a float

# abs()

In [66]:
# /-5/ = 5

print(abs(-5))

5

### Try and Except

In [70]:
#Use this to log out graceful and useful for error messages 
#Does not stop the program! Neato!

try:
    input_num = int(input('Guess a number'))
    print('Your number is ' + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a numberBen
That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [2]:
#This is an empty list:

list_1 = []

names = ['Max', 'Cindy', 'Kathy', "bob", 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [15]:
#list_name[start: stop: step]

# Single Index

print(names[0])

# Print starting at index 1 going to end
print(names[1:])


# Print starting at the beggining of a list up until a number 
print(names[:2])


# Print starting at index 1 and going up to BY 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [22]:
names.append('Benjamin')
print(names)

['Max', 'Cindy', 'bob', 'Waleska', 'Nate', 'Benjamin', 'Benjamin', 'Benjamin']

##### .insert()

In [23]:
names.insert(3, 'Waleska')
print(names)

['Max', 'Cindy', 'bob', 'Waleska', 'Waleska', 'Nate', 'Benjamin', 'Benjamin', 'Benjamin']

##### .pop()

In [19]:
#Default to the last value if no parameter is given
#Pop returns the elements that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Waleska
['Max', 'Cindy', 'bob', 'Nate', 'Benjamin']


##### .remove()

In [27]:
# Value to be removed rather than the index
# names.remove('bob')
# print(names)

# Remove multiple Benjamin's from list
while 'Benjamin' in names: 
    names.remove('Benjamin')
print(names)

['Max', 'Cindy', 'Waleska', 'Waleska', 'Nate']

##### del()

In [28]:
# Goes by index, rather tha value
# BE CAREFUL with it can cause indexing erros if not used carefully

del(names[1])
print(names)

['Max', 'Waleska', 'Waleska', 'Nate']

##### Concatenating Two Lists

In [33]:
# Will append two list together, it will not add the values!!!

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [6]:
# List can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nested list

names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
['Sally', 'Sue', 'Tameka']

##### Looping Through Lists

In [39]:
# Two ways to loop through a list! One is by index the other is by using 'in' keyword

# BY index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [51]:
# Cubes: A number raised to the third power is called a cube. For example,
# the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
# is, the cube of each integer from 1 through 10), and use a for loop to print out
# the value of each cube.

for i in range(1, 10):
    if i == 100:
        break
    print("{} cubed is {}".format(i, i ** 3))

1 cubed is 1
2 cubed is 8
3 cubed is 27
4 cubed is 64
5 cubed is 125
6 cubed is 216
7 cubed is 343
8 cubed is 512
9 cubed is 729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [61]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

count = 0

while(count <= 20):
    for i in range(2, 100):
        for j in range(2, i):
            if i < j:
                print("The number",i,"is prime")
            elif i % j == 0:
                break
        else:
            print("The number",i,"is prime")
            count = count + 1
            print(count)

The number 2 is prime
1
The number 3 is prime
2
The number 5 is prime
3
The number 7 is prime
4
The number 11 is prime
5
The number 13 is prime
6
The number 17 is prime
7
The number 19 is prime
8
The number 23 is prime
9
The number 29 is prime
10
The number 31 is prime
11
The number 37 is prime
12
The number 41 is prime
13
The number 43 is prime
14
The number 47 is prime
15
The number 53 is prime
16
The number 59 is prime
17
The number 61 is prime
18
The number 67 is prime
19
The number 71 is prime
20
The number 73 is prime
21
The number 79 is prime
22
The number 83 is prime
23
The number 89 is prime
24
The number 97 is prime
25

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [10]:
age = int(input('Please enter a persons age.'))
if age <= 18: 
    print('This is a child.')

if age > 18 and age < 65: 
    print('This person is a adult.')

elif age >= 66:
    print('This person is a senior.')

Please enter a persons age.67
This person is a senior.

In [1]:
class ShoppingBag():
    """
    The ShoopingBag class will have handles, capacity,
    items to place inside. 
    
    Atributtes for the class:
    -handles: expected to be an integer 
    -capacity: expected to be a string OR an integer 
    -items: expected to be list 
    """
    
    def _init_(self, handles, capacity, items):
        self.handles = handles 
        self.capacity = capacity
        self.items = items 
    
    # Write a method that shows the items in our ShoopingBag / this is our items list
    def showShoppingBag(self):
        print("You have items in your bag!")
        for item in self.items:
            print(item)
            
    # Show the capacity of ShoopingBag - how much room is left 
    def showCapacity(self):
        print(f'Your capacity is:{self.capacity}')
        
    # Add item(s) to the items list for the ShopingBag
    def addToShoppingBag(self):
        products = input('What would you like to add? ')
        self.items.append(products)
    
    #change the capacity of the ShopingBag
    def changeBagCapacity(self, capacity):
        self.capacity = capacity
    
    #Increase the capacity of the ShopingBag
    def increaseCapacity(self, change_capacity = 10):
        if self.capacity == isinstance(self.capacity, str):
            print("We can't add that here")
        else:
            self.capacity += changed_capacity
            
    
    
    # See Above
# So far, we created the idea of the shooping bag; now we will actually instantiate and MAKE one, and use it!

wholeFoods_bag = ShoppingBag(2,10,[])

# Create a function to run the Shooping Bag methods on our wholeFoodsbad instance
def run():
    while True:
        response = input('What do you want to do? add/show/quit')
        
        if response.lower() =='quit':
            wholeFoods_bag.showShoppingBag()
            print('Thanks for shooping')
            break
        elif response.lower == 'add':
            wholeFoods_bag.addtoShoppingBag()
        elif response.lower() == 'show':
            wholeFoods_bag.showShoppingBag()
        else:
            print('Try another command')
run()

TypeError: ShoppingBag() takes no arguments